.div-itemcart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
    margin-bottom: 2%;
    height: 75px;
    background-color: #A7A3A9;
}

.btn-itemcart{
    height: 30px;
    margin-right: 10px;
}

.title-itemcart{
    margin-left: 10px;
}