
.container {
    border: 5px solid #DEA353;
    width: 200px;
    height: 320px;
    background-color: #BAB9B8;
    border-radius: 7px;
    box-shadow: 5px;
    
}

.title-item{
    font-size: 13px;
    text-align: center;
    background-color: #BAB9B8;
    
}

.img{
    position: relative;
    bottom: 10px;
}

.price-item{
    font-size: 15px;
    position: relative;
    bottom: 70px;
    margin-left: 20px;
}


.btn-item{
    width: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #A788CA;
    border-radius: 4px;
   
}
.t-p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


