.div-container{
    background-color: #f0f0f0;
}

.link-play{
    text-decoration: none;
}
.p-play{
    color: #DC4254;
}

.r-play{
    color: #42D7DC;
}

.dot-play{
    color: #42DC7A;
}

.dice-icon{
    position: relative;
    right: 90px;
    color: #7DCACD;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container h1 span {
    font-size: 35px;
}
.nav-container ul{
    display: flex;
    justify-content: space-evenly;

}

.link-nav{
    list-style: none;
    padding: 10px;
    margin-left: 45px;
}

.link-nav{
    text-decoration: none;
    color: #DEA353;
    font-family: 'Oswald', sans-serif;
    
}

.link-nav:hover{
    color: #D14931;
   
}

